.aboutMainCon {
  width: 100%;
  height: 1200px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.aboutLeftSubCon {
  width: 45%;
  height: 100%;
  border: 1px solid blue;
  background-color: black;
}

.aboutSecondSubCon {
  width: 55%;
  height: 100%;
  border: 1px solid green;
}

.backGroundPictureCon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen (min-width: 0px) and (max-width: 600px) {

}