.aboutMainCon {
  width: 100%;
  height: 1200px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  background-color: floralwhite;
}

.aboutLeftSubCon {
  width: 45%;
  height: 100%;
  border: 1px solid blue;
  background-color: black;
}

.aboutSecondSubCon {
  width: 55%;
  height: 100%;
  border: 1px solid green;
  position: relative;
}

.backGroundPictureCon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutTitleCon, .aboutDescCon, .aboutTalkCon {
  position: absolute;
  left: 15%;
}

.aboutTitleCon {
  font-size: 3rem;
  top: 25%;
}

.aboutDescCon {
  font-size: 1.4rem;
  top: 35%;
  width: 500px;
  height: 350px;
  /* border: 1px solid red; */
}

.aboutTalkCon {
  width: 200px;
  height: 60px;
  border: 1.5px solid gray;
  border-radius: 7px;
  bottom: 30%;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen (min-width: 0px) and (max-width: 600px) {

}

@media screen (min-width: 601px) and (max-width: 900px) {

}

@media screen (min-width: 901px) and (max-width: 1200px) {

}

