.homeMainCon {
  width: 100%;
  height: 1200px;
  border: 1px solid blue;
  background-size: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-color: black;
  background-position-y: top;
  position: relative;
  
}

.homeMyNameCon {
  color: floralwhite;
  position: absolute;
  top: 46%;
  left: 25%;
  font-size: 4rem;
  letter-spacing: 4px;
}

.homeTitleCon {
  color: floralwhite;
  position: absolute;
  font-size: 2.7rem;
  bottom: 40%;
  left: 25%;
}

.homeProjectCon {
  color: floralwhite;
  position: absolute;
  font-size: 1.8rem;
  top: 70%;
  left: 25%;
  border: 1.5px solid floralwhite;
  width: 23%;
  height: 5%;
  text-align: 
}


/*backgroundImage: `url(${bgImage})`*/
/* 
style={{width: '100%', height: '100vh', backgroundSize: 'contain', backgroundRepeat: 'no-repeat', display: 'flex', justifyContent: 'center', alignItems: 'flex-start', flexDirection: 'column', position: 'relative'}} */

/* <div style={{border: '2px solid red', position: 'absolute', top: '40%', left: '50%'}}>
          I'm Terry
        </div>

        <div style={{border: '2px solid red', position: 'absolute', top: '50%', left: '50%'}}>
          A Front-end Developer
        </div>

        <div className='homeProjectSubCon' style={{}}>
          View Project
        </div> */


/* green socks 사용해서 글씨 왼쪽에서 오른쪽으로 가는거 구현해보기 */