.homeMainCon {
  width: 100%;
  height: 1200px;
  border: 1px solid blue;
  background-size: cover;
  background-position: center;
}


/*backgroundImage: `url(${bgImage})`*/
/* 
style={{width: '100%', height: '100vh', backgroundSize: 'contain', backgroundRepeat: 'no-repeat', display: 'flex', justifyContent: 'center', alignItems: 'flex-start', flexDirection: 'column', position: 'relative'}} */

/* <div style={{border: '2px solid red', position: 'absolute', top: '40%', left: '50%'}}>
          I'm Terry
        </div>

        <div style={{border: '2px solid red', position: 'absolute', top: '50%', left: '50%'}}>
          A Front-end Developer
        </div>

        <div className='homeProjectSubCon' style={{}}>
          View Project
        </div> */