.homeMainCon {
  width: 100%;
  height: 1200px;
  border: 1px solid blue;
  background-size: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-color: black;
  background-position-y: top;
  position: relative;
  
}

.homeMyNameCon {
  color: floralwhite;
  position: absolute;
  top: 44%;
  left: 25%;
  font-size: 4rem;
  letter-spacing: 4px;
}

.homeTitleCon {
  color: floralwhite;
  position: absolute;
  font-size: 2.7rem;
  bottom: 42%;
  left: 25%;
}

.homeProjectCon {
  color: floralwhite;
  position: absolute;
  font-size: 1.6rem;
  top: 70%;
  left: 25%;
  border: 1.5px solid floralwhite;
  border-radius: 10px;
  width: 21%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .homeMyNameCon {
    font-size: 3rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  
}




/* green socks 사용해서 글씨 왼쪽에서 오른쪽으로 가는거 구현해보기 */