.navBarMainCon {
  position: fixed;
  color: white;
  width: 130px;
  z-index: 3;
  top: 200px;
  right: 0;
}

.navBarSubCon {
  border: none;
  background-color: white;
  /* border-radius: 5px; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #a3a3a3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-bottom: 1px;

}

.navBarEachCon {
  text-decoration: none;
  color: black;
  border: 1px solid blue;
  font-size: 13px;
  /* padding-right: 10px; */
}