.skillMainCon {
  width: 100%;
  height: 1200px;
  border: 1px solid red;
  background-size: contain;
}

.skillTopCon {
  width: 100%;
  height: 45%;
  border: 1px solid blue;
  position: relative;
}

.skillTitleCon {
  width: 40%;
  height: 20%;
  border: 1px solid green;
  position: absolute;
  left: 15%;
  top: 20%;
}

.skillDescCon {
  width: 70%;
  height: 50%;
  border: 1px solid green;
  position: absolute;
  left: 15%;
  top: 45%;
}

.skillBottomCon {
  width: 100%;
  height: 55%;
  border: 1px solid red;
  display: flex;
}

.skillLeftBottomCon {
  border: 1px solid blue;
  width: 50%;
  height: 100%;
  
}

.skillDevCon {
  border: 1px solid red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillRightBottomCon {
  border: 1px solid blue;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.skillProjectCon {
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.skillPersonalCon {
  border: 1px solid red;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}